<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="crisp.prerelease" value="https://crisp-thinking.pkgs.visualstudio.com/_packaging/PreRelease/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="crisp.prerelease" value="true" />
  </disabledPackageSources>
</configuration>
